<div class="nav" >

      <ul>
      <li>
        <a routerLink='/apoteke'>Apoteka</a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink='/lekovi'>Lekovi</a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink='/korisnici'>Korisnici</a>
      </li>
      </ul>
      <ul>
      <li>
        <a routerLink='/farmaceuti'>Farmaceuti</a>
      </li>
      </ul>
      <ul>
      <li>
        <a routerLink='/dermatolozi'>Dermatolozi</a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink='/rezervacije'>Rezervacije</a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink='/akcije'>Akcije</a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink='/godisnjiOdmori'>Godisnji odmor</a>
      </li>
    </ul>
  
     
    
    
     

  <div class="logoutLblPos" *ngIf="!isLoggedIn">
    <a  class="btn btn-primary" routerLink='/login'>Prijavi se</a>
    <li *ngIf="!isLoggedIn">
        <a  class="btn btn-primary" routerLink='/register'>Registruj se</a>
      </li>
</div>
<button class="btn btn-primary" (click)="logout()">Izloguj se</button>
<button class="btn btn-primary" routerLink='/user'>Korisnicki nalog</button>
</div>


 
  