<div class="form">
  <p>Email: {{user.email}}</p>
  <p>Ime: {{user.ime}}</p>
  <p>Prezime: {{user.prezime}}</p>
 <p>Rezervisani lekovi:  {{user.rezervisani_lekovi|json}}</p>
  <button class="btn btn-primary" routerLink='/user/edit-user'>Izmeni podatke</button>


  <div class="search">
  <form (submit)="findUser()">
    <input type="text" placeholder="Ime" [(ngModel)]="ime" name="ime"/>
    <input type="text" placeholder="Prezime" [(ngModel)]="prezime" name="prezime"/>
    <button type="submit" class="btn btn-primary">Pretrazi</button>
  </form>
  <ul>
    Pretrazeni:
    <div *ngFor="let userShow of pretrazeniKorisnici">
    <li>
    
    Email:  {{userShow.email}}
    Ime:  {{userShow.ime}}
    Prezime:  {{userShow.prezime}}
   
    </li>
    </div>
  </ul>
</div>
  
