
  <a class="list-group-item clearfix" *ngFor="let akcijeShow of akcije">
    <div class="pull-left">
      <h4 class="list-group-item-heading" > Naziv: {{akcijeShow.naziv}}</h4>
      <p class="list-group-item-text">Period vazenja: {{akcijeShow.period_vazenja}}</p>
   
      
  
    </div>
    <span class="pull-right">
      <button class="btn btn-primary" [routerLink]="['/akcija/' + akcijeShow.id]">Izmeni akciju</button>
      <button class="btn btn-danger" (click)="deleteAkcija(akcijeShow)">Obrisi</button>

    </span>
  </a>
  <button class="btn btn-primary"[routerLink]="['/akcije-edit/' + apotekaId]">Dodaj akciju</button>
  
  
  
  
  